* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

/* spacing */

table {
  table-layout: fixed;
  width: 100%;

}

th, td {
  padding: 10px;
}

tbody td {
  text-align: center;
}

.main-text {
  color: white;
  font-size: 3em;
}

.module {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  width: 100vw;
  height: 13vw;
}

.container{
  margin: 10px 20px;
}

.btn {
  background-color: rgb(45, 177, 221);
  color: black;
  font-weight: bold;
  font-size: 0.9em;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.8;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: rgba(0, 0, 0, 0.5);
}

.form-popup {
  max-width: 300px;
  display: none;
  position: fixed;
  top:8vw;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  position: fixed;
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input {
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"],
.form-container input[type="number"] {
  width: 100%;
}

.form-container input[type="text"]:focus,
.form-container input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4caf50;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}

.cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
